table.list {
  width: 100%;
  border: solid;
}

table.list tbody tr td {
  padding-left: 5px;
  border: solid;
}

table.list tbody tr td .add-cart {
  margin-left: 10px;
}

table.list tbody tr td .add-cart:hover {
  cursor: pointer;
}

table.cart {
  width: 100%;
  border: solid;
}

table.cart tbody tr td {
  padding-left: 5px;
  border: solid;
}

table.cart tbody tr td .remove-cart {
  margin-left: 10px;
}

table.cart tbody tr td .remove-cart:hover {
  cursor: pointer;
}
